<h1>Leave a review for food options at <%= @ski_area[:ski_area_name] %></h1>

<form action="/ski_areas/<%= @ski_area[:id] %>/reviews/create">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Quality Rating (how good was the food you ate?)</label>
    <select class="form-control" name="quality">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </div>
    <div class="form-group">
    <label for="exampleFormControlSelect1">Variety Rating (was there a variety of options at the resort?)</label>
    <select class="form-control" name="variety">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </div>
  <div class="form-group">
    <label>Comments (comment on quality, variety, or other things of note)</label>
    <textarea class="form-control" rows="3" name="comments"></textarea>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">When were you there?</label>
    <input type="text" class="form-control" name="date" placeholder="MM/DD/YY">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>